Twitter_digest.json
{
  "name": "Twitter digest",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apidojo~twitter-scraper-lite/runs?token={{API_TOKEN}}",
        "allowUnauthorizedCerts": true,
        "options": {}
      },
      "name": "Get Twitter Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [60, 360]
    },
    {
      "parameters": {
        "jsCode": "const trends = $input.first().json.data.items;\n\nlet summaryInput = \"Вот список самых популярных твитов за последние 12 часов:\\n\\n\";\ntrends.slice(0, 10).forEach((trend, index) => {\n  summaryInput += `${index + 1}. ${trend.id}\\n`;\n});\n\nsummaryInput += \"\\nПроанализируй твиты на тему войны израиля с ираном и сделай краткий дайджест. Укажи, какие основные темы обсуждаются, почему они важны, и как реагируют пользователи. Пиши на русском языке, ясно и кратко, как для Telegram-канала по новостям.\";\n\nreturn [\n  {\n    json: {\n      model: \"mistralai/mistral-7b-instruct:free\",\n      messages: [\n        {\n          role: \"system\",\n          content: \"Ты аналитик новостей, составляющий краткие обзоры по самым обсуждаемым событиям в Twitter. Пиши ясно, по-русски, без воды.\"\n        },\n        {\n          role: \"user\",\n          content: summaryInput\n        }\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 360],
      "name": "Promt and model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 360],
      "name": "Send to AI"
    },
    {
      "parameters": {
        "chatId": "{{TELEGRAM_CHAT_ID}}",
        "text": "={{ $json.choices[0].message.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 360],
      "name": "Telegram"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [{}]
        }
      },
      "name": "Shedule",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [-140, 360]
    }
  ],
  "connections": {
    "Get Twitter Trends": {
      "main": [[{ "node": "Promt and model", "type": "main", "index": 0 }]]
    },
    "Promt and model": {
      "main": [[{ "node": "Send to AI", "type": "main", "index": 0 }]]
    },
    "Send to AI": {
      "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]]
    },
    "Shedule": {
      "main": [[{ "node": "Get Twitter Trends", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
